# IDE & editor
.vscode/
.idea/
*.swp
*.swo
*~

# dependencies
node_modules

# build
dist

# env
.env
.env.production
.env.production.save

# uploads & exports
uploads
exports

# database
*.sql
*.sqlite
*.sqlite3
*.db

# logs
*.log

# misc
coverage
.nyc_output/
.cache/
