# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem
.idea/
.vscode/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.production

# Vercel
.vercel

# Medusa
.medusa/
# uploads/  # Commented out to include uploads folder

# Database
*.db
*.sqlite

# Cache
.turbo
